
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar/Editar Gasto Ingreso</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">        
            <input placeholder="Descripci&oacute;n" type="text" class="form-control" [(ngModel)]="DescripcionGastoIngreso" name="DescripcionGastoIngreso" value="{{DescripcionGastoIngreso}}"/>            
      </div>
      <div class="form-group">        
        <select class="form-control" [(ngModel)]="FijoVariable" name="FijoVariable">            
            <option [value]="item" *ngFor="let item of v_FijoVariable">{{item}}</option>
        </select>              
      </div>
      <div class="form-group">        
        <select class="form-control" [(ngModel)]="IngresoEgreso" name="IngresoEgreso">
            <option [value]="item" *ngFor="let item of v_IngresoEgreso">{{item}}</option>
        </select>              
      </div>      
      <div class="form-group">        
        <select class="form-control" [(ngModel)]="SubGrupoGastoIngreso" name="SubGrupoGastoIngreso">
            <option [value]="item" *ngFor="let item of v_SubGrupo">{{item}}</option>
        </select>              
      </div>      
      <div class="form-group">        
        <input type="number" placeholder="Ingrese monto aquí" class="form-control" [(ngModel)]="MontoGastoIngreso" name="MontoGastoIngreso" />
      </div>
      <div class="form-group">        
        <input placeholder="Observaci&oacute;n" type="text" class="form-control" [(ngModel)]="ObservacionGastoIngreso" name="ObservacionGastoIngreso" />
      </div>
      <div class="form-group">        
        <div class="input-group">
          <input class="form-control" placeholder="Per&iacute;odo" [(ngModel)]="PeriodoGastoIngreso" name="PeriodoGastoIngreso" ngbDatepicker
            #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">    
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="saveChange()">Guardar Cambios</button>
  </div>


