
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar/Editar Tarea</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Descripci&oacute;n Tarea</label>
            <input type="text" class="form-control" [(ngModel)]="DescriptionTask" name="DescriptionTask" value="{{DescriptionTask}}"/>            
      </div>
      <div class="form-group">
        <label for="message-text" class="col-form-label">Fecha Cumplimiento</label>
            <input type="date" class="form-control" [(ngModel)]="ComplianceDateTask" name="ComplianceDateTask" value="{{ComplianceDateTask}}">
      </div>
      <div class="form-group">
        <label for="message-text" class="col-form-label">Fecha Ejecuci&oacute;n</label>
            <input type="date" class="form-control" [(ngModel)]="MovDate" name="MovDate" value="{{MovDate}}">
      </div>
      <div class="form-group">
        <label for="message-text" class="col-form-label">Estado</label>
          <select class="custom-select" size="2" name="miselect" [(ngModel)]="StateTask" name="StateTask">
            <option [value]="item" *ngFor="let item of estados">{{item}}</option>
          </select>            
      </div>      
    </form>
  </div>
  <div class="modal-footer">    
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="SaveChanges()">Guardar Cambios</button>
  </div>


