<ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-left">
  <li [ngbNavItem]="1">
    <a routerLink="/mantenedor-articulos" routerLinkActive="active" ngbNavLink>Mantenedor de Artículos</a>
    <ng-template ngbNavContent>        
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a routerLink="/calendario-tareas"  ngbNavLink>Calendario de Tareas</a>
    <ng-template ngbNavContent>
      
    </ng-template>
  </li>  
  <li [ngbNavItem]="3">
    <a routerLink="/gastos-hogar"  ngbNavLink>Gastos/Ingresos del Hogar</a>
    <ng-template ngbNavContent>
      
    </ng-template>
  </li>  
  <li [ngbNavItem]="4">
    <a routerLink="/reportes"  ngbNavLink>Reportes</a>
    <ng-template ngbNavContent>  
      
    </ng-template>
  </li>  
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>






