
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar/Editar Art&iacute;culo</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Nombre Art&iacute;culo</label>
            <input type="text" class="form-control" [(ngModel)]="NombreArticulo" name="NombreArticulo" value="{{NombreArticulo}}"/>            
      </div>
      <div class="form-group">
        <label for="message-text" class="col-form-label">Stock Actual</label>
            <input type="number" class="form-control" [(ngModel)]="StockArticulo" name="StockArticulo" value="{{StockArticulo}}">
      </div>
      <div class="form-group">
        <label for="message-text" class="col-form-label">Estado</label>
          <select class="custom-select" size="2" name="miselect" [(ngModel)]="EstadoArticulo" name="EstadoArticulo">
            <option [value]="item" *ngFor="let item of estados">{{item}}</option>
            </select>            
      </div>      
    </form>
  </div>
  <div class="modal-footer">    
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="saveChanges()">Guardar Cambios</button>
  </div>

