
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Nuevo Mes</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Guiarse Por</label>
          <div class="col-sm-4">
            <div class="input-group">
                <input class="form-control" (dateSelect)="getGastoIngreso()" readonly placeholder="yyyy-mm-dd" name="model" [(ngModel)]="model" ngbDatepicker
                #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
          <label class="col-sm-2 col-form-label">Nuevo Periodo</label>
          <div class="col-sm-4">
            <div class="input-group">
                <input class="form-control" readonly placeholder="yyyy-mm-dd" name="newPeriod" [(ngModel)]="newPeriod" ngbDatepicker
                #x="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="x.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>
    </form>    
    <hr />
    <table class="table table-sm">
        <thead>
          <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Grupo</th>
            <th scope="col">SubGrupo</th>
            <th scope="col">Descripci&oacute;n</th>
            <th scope="col">Monto</th>
            <th scope="col">Observaci&oacute;n</th>            
            <th></th>
          </tr>
        </thead>        
        <tbody>
          <tr *ngFor="let fila of datos; index as i" [attr.id]="fila.id">
            <td>{{(i+1)}}</td>
            <td><select class="form-control" [(ngModel)]="fila.TipoGastoIngreso">            
                <option *ngFor="let item of v_FijoVariable">{{item}}</option>
            </select></td>
            <td><select class="form-control" [(ngModel)]="fila.GrupoGastoIngreso" >
                <option *ngFor="let item of v_IngresoEgreso">{{item}}</option>
            </select></td>
            <td>
                <select class="form-control" [(ngModel)]="fila.SubGrupoGastoIngreso">
                <option *ngFor="let item of v_SubGrupo">{{item}}</option>
            </select></td>
            <td><input type="text" class="form-control" [(ngModel)]="fila.DescripcionGastoIngreso"/></td>
            <td><input type="number" class="form-control" [(ngModel)]="fila.MontoGastoIngreso" /></td>            
            <td><input type="text" class="form-control" [(ngModel)]="fila.ObservacionGastoIngreso"/></td>                                
            <td><svg (click)="DeleteRowGastoIngreso(i)" style="cursor: pointer;" class="bi bi-trash text-danger" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="modal-footer">    
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="saveChange()">Guardar Cambios</button>
  </div>


