<div class="card">    
    <div class="card-body"> 
        <select class="form-control" (change)="taskFilter()" [(ngModel)]="selectFiltroCalendario">
            <option value="Todo">Todo</option>
            <option value="Listo">Listo</option>
            <option value="Pendiente">Pendiente</option>
        </select>     <br />    
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm table-condensed table-striped">
                <thead>
                    <tr class="table-primary">
                        <th>#</th>
                        <th>Descripci&oacute;n</th>                    
                        <th>Fecha Cumplimiento</th>
                        <th>Fecha Desarrollo</th>
                        <th>Estado</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>                
                    <tr *ngFor="let fila of datos; index as i"> 
                        <td>{{i+1}}</td>
                        <td>{{fila.DescriptionTask}}</td>                    
                        <td>{{fila.ComplianceDateTask | date: 'dd/MM/yyyy'}}</td>                                        
                        <td>{{fila.MovDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{fila.StateTask}}</td>
                        <td>
                            <svg (click)="updateTask(fila.DescriptionTask,fila.ComplianceDateTask,fila.MovDate,fila.StateTask,fila.IDTask)"  style="cursor: pointer;" class="bi bi-pencil-square text-info" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                        <svg (click)="deleteTask(fila.IDTask)" style="cursor: pointer;" class="bi bi-trash text-danger" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        <svg (click)="changeStateTask(fila.DescriptionTask,fila.ComplianceDateTask,fila.MovDate,fila.IDTask)"  style="cursor: pointer;" class="bi bi-check-square text-success" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                        </svg>                      
                        </td>
                    </tr>        
                </tbody>        
            </table>        
        </div>        
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-primary float-right" (click)="insertTask()">Agregar</button>
    </div>
</div>
<ngx-spinner></ngx-spinner>


