<div class="card">
    <div class="card-header text-white bg-info">
      Mantenedor de Art&iacute;culos
    </div>
    <div class="card-body">      
      <form>
        <div class="form-group form-inline text-right">        
        <input class="form-control-sm" [(ngModel)]="buscarArticulo" name="buscarArticulo" placeholder="Búsqueda"/>
        </div>
      </form>
        <table class="table table-sm">
            <thead>              
              <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Art&iacute;culo</th>
                <th scope="col">Stock Actual</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>                            
               <tr *ngFor="let fila of datos | filtro : buscarArticulo; index as i">                
                <td>{{i+1}}</td>
                <td>{{fila.NameArticle}}</td>
                <td>{{fila.StockArticle}}</td>
                <td>{{fila.StateArticle}}</td>                 
                <td>
                  <svg (click)="updateArticle(fila.id,fila.NameArticle,fila.StockArticle,fila.StateArticle)"  style="cursor: pointer;" class="bi bi-pencil-square text-info" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                  <svg (click)="deleteArticle(fila.id)" style="cursor: pointer;" class="bi bi-trash text-danger" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="card-footer text-muted">        
        <button class="btn btn-outline-primary float-right" (click)="insertArticle()">Agregar</button>
    </div>
  </div>
  <ngx-spinner></ngx-spinner>
  