<div class="card">
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ingreso/Egreso</label>
                <div class="form-group col-sm-2">                                        
                        <select class="form-control" name="miselect" [(ngModel)]="IngresoEgreso" name="IngresoEgreso">
                            <option [value]="item" *ngFor="let item of v_IngresoEgreso">{{item}}</option>
                        </select>                    
                </div>
                <label class="col-sm-2 col-form-label">SubGrupo</label>
                <div class="form-group col-sm-2">                    
                        <select class="form-control" name="miselect" [(ngModel)]="SubGrupo" name="SubGrupo">
                            <option [value]="item" *ngFor="let item of v_SubGrupo">{{item}}</option>
                        </select>
                    
                </div>
                <label class="col-sm-2 col-form-label">Gasto/Ingreso</label>
                <div class="form-group col-sm-2">                    
                        <select class="form-control" [(ngModel)]="servicioGastoIngreso" name="servicioGastoIngreso">                            
                            <option [value]="item.nombreServicio" *ngFor="let item of serviciosBD">{{item.nombreServicio}}</option>
                        </select>
                    
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Per&iacute;odo</label>                
                <div class="form-group hidden">
                    <div class="input-group">
                        <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                            [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                            [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                        <ng-template #t let-date let-focused="focused">
                            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                                {{ date.day }}
                            </span>
                        </ng-template>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                            [value]="formatter.format(fromDate)"
                            (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="input-group">
                        <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                            [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>   
            </div>            
        </form>
        <div class="float-right">
            <button class="btn btn-primary" (click)="generarReporte()"> Generar</button>
        </div>
        <div class="clearfix"></div>
        <hr />
        <div style="display: block;" *ngIf="mostrarGrafico">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>