<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Periodo</label>
        <div class="col-sm-2">
          <div class="input-group">
            <input class="form-control" (dateSelect)="getGastoIngreso()" readonly placeholder="yyyy-mm-dd" name="model" [(ngModel)]="model" ngbDatepicker
              #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <label class="col-sm-2 col-form-label">Ingreso/Egreso</label>
        <div class="col-sm-2">
          <select class="form-control" name="miselect" [(ngModel)]="IngresoEgreso" name="IngresoEgreso" (ngModelChange)="filterGastoIngreso()">
            <option [value]="item" *ngFor="let item of v_IngresoEgreso">{{item}}</option>
          </select>
        </div>
        <label class="col-sm-2 col-form-label">Fijo/Variable</label>
        <div class="col-sm-2">
          <select class="form-control" name="miselect" [(ngModel)]="FijoVariable" name="FijoVariable" (ngModelChange)="filterGastoIngreso()">
            <option [value]="item" *ngFor="let item of v_FijoVariable">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">SubGrupo</label>
        <div class="col-sm-2">
          <select class="form-control" name="miselect" [(ngModel)]="SubGrupo" name="SubGrupo" (ngModelChange)="filterGastoIngreso()">
            <option [value]="item" *ngFor="let item of v_SubGrupo">{{item}}</option>
          </select>
          </div>
        </div>           
      
    </form>
    <hr />
    <table class="table table-sm">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Tipo</th>
          <th scope="col">Grupo</th>
          <th scope="col">SubGrupo</th>
          <th scope="col">Descripci&oacute;n</th>
          <th scope="col">Monto</th>
          <th scope="col">Observaci&oacute;n</th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="5"><strong class="float-right">Total</strong></td>
          <td><strong>{{sumaTotalGastoIngreso | currency:'CLP':'$':'1.0-0'}}</strong></td>
          <td></td>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let fila of datos; index as i">
          <td>{{(i+1)}}</td>
          <td>{{fila.TipoGastoIngreso}}</td>
          <td>{{fila.GrupoGastoIngreso}}</td>
          <td>{{fila.SubGrupoGastoIngreso}}</td>
          <td>{{fila.DescripcionGastoIngreso}}</td>
          <td>{{fila.MontoGastoIngreso | currency:'CLP':'$':'1.0-0'  }}</td>
          <td>{{fila.ObservacionGastoIngreso}}</td>          
          <td><svg (click)="updateGastoIngreso(fila.IDGastoIngreso,fila.DescripcionGastoIngreso,fila.TipoGastoIngreso,fila.GrupoGastoIngreso,fila.SubGrupoGastoIngreso,fila.MontoGastoIngreso,fila.ObservacionGastoIngreso,fila.PeriodoGastoIngreso)"  style="cursor: pointer;" class="bi bi-pencil-square text-info" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
        <svg (click)="deleteGastoIngreso(fila.IDGastoIngreso)" style="cursor: pointer;" class="bi bi-trash text-danger" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-outline-success float-right" (click)="showModalNewMes()">Nuevo Mes</button>
    <button class="btn btn-outline-primary float-right" (click)="insertGastoIngreso()">Agregar Gasto / Ingreso</button>
  </div>
</div>
<ngx-spinner></ngx-spinner>